*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  background-color: white;
  font-size: 62.5%;
  text-rendering: optimizeLegibility;

  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.heading__main {
  color: rgb(0, 0, 0);
}
