.board {
  width: 90vw;
  height: 90vh;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  box-shadow: 5px 5px 8px #b4b1b118;

  &__square.red {
    background-color: rgba(255, 0, 0, 0.329);
  }
  &__square.black {
    background-color: rgba(0, 0, 0, 0.37);
    &.avail {
      cursor: pointer;
    }
  }
}

.checker {
  @include checker;

  &.white {
    background-color: rgb(255, 255, 255);
  }

  &.red {
    background-color: rgb(207, 0, 0);
  }
}

// if board has class of white and hovered over white ||
// if board has class of red and hovered over red ||
// black selectable space hovered
.board.white .board__square.black .checker.white.selectable:hover,
.board.red .board__square.black .checker.red.selectable:hover,
.board .board__square.black.selectable:hover {
  cursor: pointer;
}

// if board has class of red and hovered over white ||
// if board has class of white and hovered over red
.board.white .board__square.black .checker.red:hover,
.board.red .board__square.black .checker.white:hover {
  cursor: not-allowed;
}

.selected {
  background-color: yellow !important;
}
