header {
  height: auto;
  width: 100vw;
  text-align: center;
  //padding-top: 2rem;
}

.navbar {
  display: flex;
  margin-bottom: 4px;
  flex-direction: row;
  justify-content: space-around;
  background-color: rgba(199, 199, 199, 0.219);
  box-shadow: 4px 7px 9px -3px rgba(0, 0, 0, 0.75);
}

ul {
  list-style-type: none;
  display: flex;
}

li {
  font-size: 100%;
  margin: 0 10rem;
  display: flex;
  align-items: flex-end;
}

a {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: 175%;
  color: black;
  &.rules {
    position: relative;
  }
  &.main {
    font-size: 250%;
    font-weight: 500;
  }
}

// TEST: hover text box effect
span {
  display: flex;
  width: 1000%;
  background: none repeat scroll 0 0 #f8f8f8;
  border: 5px solid #dfdfdf;
  color: #717171;
  line-height: 30px;
  position: absolute;
  text-align: center;
  display: none;
  padding: 0 20px;
}

a:hover span {
  display: flex;
}
