/* EX: When the width is between 600px and 900px OR above 1100px - 
 */
@media screen and (max-width: 900px) and (min-width: 600px),
  (min-width: 1100px) {
}

@media screen and (max-width: 720px) {
  li {
    margin: 0 2rem;
  }
}

@media screen and (max-width: 600px) and (max-height: 600px) {
  .board {
    height: 100%;
  }
  .interface {
    height: 100vh;
  }
}

@media screen and (max-height: 400px) {
  h1 {
    display: none;
  }
  .interface {
    height: 100vh;
  }
  .board {
    height: 100%;
  }
}
